.pytest_cache
.pytest_cache/*
.pytest_cache/v/
.pytest_cache/v/
.pytest_cache/v/
.pytest_cache/v/
.pytest_cache/v/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
allure-results
allure-report
allure-report/*
allure-report/allure-report
allure-report/allure-report/*
allure-report/allure-report/allure-report
